:root {
  --clr-bg-main: #262833;
  --clr-text: #ffffff;
  --clr-border: #43454d;
  --clr-bg-panel-1: #e3ece6;
  --clr-bg-panel-2: #e4d6f3;
  --clr-bg-panel-3: #f5ddc8;
  --clr-bg-panel-4: #73b06f;
  --clr-bg-panel-5: #a686c4;
  --clr-bg-panel-6: #e9ae79;
  --clr-heading-text: #d2d5da;
  --clr-text-dark: #919399;
  --clr-hover: #41455a;
}

/* BASE STYLES */

.page {
  font-family: 'Outfit', sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.app {
  height: 1082px;
  width: 1350px;
  background-color: var(--clr-bg-main);
  margin: 80px 0;

  display: grid;
  grid-template-columns: 220px 798px 332px;
  grid-template-rows: 72px 1fr;
}

/* STYLES */

/* --- header --- */

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}

.header__logo {
  padding-left: 24px;
  padding-right: 24px;
}

.header-dd__toggle-btn {
  display: flex;
  align-items: center;
  padding-right: 24px;
  height: 72px;
  cursor: pointer;
  transition: all 0.2s;
}

.header-dd__toggle-btn:hover,
.header-dd__toggle-btn:focus {
  background-color: var(--clr-hover);
}

.header-dd__toggle-img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.header-dd__toggle-text {
  color: var(--clr-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}

/* --- sidebar --- */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  padding-top: 24px;
  padding-bottom: 24px;
  border-right: 1px solid var(--clr-border);
}

.menu {
  padding-left: 24px;
  padding-right: 24px;
  height: 962px;

  display: flex;
  flex-direction: column;
}

.menu__item {
  color: var(--clr-text-dark);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.menu__item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}

/* --- menu buttons selection styling --- */

.menu__button-style:hover,
.menu__button-style:focus {
  color: var(--clr-text);
}

.menu__button-style--active {
  color: var(--clr-text);
  position: relative;
}

.menu__button-style--active::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #375bb6;
  position: absolute;
  left: -12px;
  top: 0;
}

/* --- menu headings styling --- */

.menu__heading {
  margin-bottom: 24px;
}

.menu__heading-text {
  color: var(--clr-heading-text);
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

/* --- menu styling --- */

.menu__dashboard-btn {
  margin-bottom: 36px;
  width: 100%;
}

.menu__dashboard-img {
  margin-right: 8px;
}

.menu__performance-btn {
  width: 100%;
  margin-bottom: 20px;
}

.menu__performance-img {
  margin-right: 8px;
}

.menu__hotjar-container {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.menu__hotjar-btn {
}

.menu__hotjar-img {
  margin-right: 8px;
}

.menu__hotjar-status {
  width: 36px;
  height: 17px;
  border-radius: 50px;
  background-color: var(--clr-bg-panel-2);
  color: var(--clr-bg-main);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.menu__tickets-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.menu__tickets-btn {
}

.menu-tickets-img {
  margin-right: 8px;
}

.menu__tickets-number {
  width: 25px;
  height: 17px;
  border-radius: 50px;
  background-color: var(--clr-border);
  color: var(--clr-text);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.menu__agents-btn {
  width: 100%;
  margin-bottom: 20px;
}

.menu__agents-img {
  margin-right: 8px;
}

.menu__customers-btn {
  width: 100%;
  margin-bottom: 36px;
}

.menu__customers-img {
  margin-right: 8px;
}

.menu__products-btn {
  width: 100%;
  margin-bottom: 20px;
}

.menu__products-img {
  margin-right: 8px;
}

.menu__orders-btn {
  width: 100%;
  margin-bottom: 20px;
}

.menu__orders-img {
  margin-right: 8px;
}

.menu__reports-btn {
  width: 100%;
}

.menu__reports-img {
  margin-right: 8px;
}

.menu__settings-btn {
  width: 100%;
  margin-top: auto;
}

.menu__settings-img {
  margin-right: 8px;
}

.menu__logout-btn {
  width: 100%;
  margin-top: 20px;
}

.menu__logout-img {
  margin-right: 8px;
}

/* --- main --- */

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding: 24px 24px;
  border-right: 1px solid var(--clr-border);
}
.account__list-section {
  width: 750px;
  height: 890px;
  padding: 24px;
  border: 1px solid var(--clr-border);
  border-radius: 20px;
}

.totals {
}

/* --- secondary --- */

.card__details {
}

.spending_limits {
}

/* --- Account list styling --- */

.account__list-heading {
  margin-bottom: 32px;
}

.account__list-text {
  color: #fff;
  font-family: Outfit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}

.account__link-btn {
  width: 120px;
  height: 32px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #333e44;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
}

.account__link-text {
  padding-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}

.account__link-btn:hover,
.account__link-btn:focus {
  background-color: #404c52;
}
