/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none; /* Make sure there is a visual indicator for focus state*/
}
